@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte-01: Verdana, 'Geneva', Tahoma, 'sans-serif';
    --fonte-02: 'Passion One', 'cursive';
    --fonte-03: 'Sriracha', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-01);
    min-height: 100vh;
}

header, footer{
    background-color: black;
    color: white;
    font-size: 1em;
    display: block;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-02);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte-03);
    line-height: 2em;
    padding: 10vh 0px 10vh 30px;
    font-size: 3.5vw;
}

section > p {
    font-size: 1em;
}

section.regSection {
    background-color: white;
}

section.imgSection {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed; 
}

.imgSection > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    border-radius: 5px;
}

section#image1 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#image2 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;

}